@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* general variables */
  --boxShadow: 0 0 5px rgb(250, 234, 230);
  --boxShadow2: 0px 0px 50px rgba(150, 150, 150, 0.3);
  --transition: all 0.3s linear;
  --transition2: all 0.5s linear;
  --border: 2px solid rgb(228, 7, 166);
  --border2: 2px solid rgb(28, 28, 192);
  --border3: 2px solid rgb(9, 224, 88);

  /* variables for this project */
  --margin: 0.2rem;
  --White: hsl(0, 0%, 100%);
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
  display: grid;
  font-family: "DM Sans", "Open Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  place-items: center;
  background: var(--Cream);
}

.price-header {
  align-items: center;
  background: var(--Soft-red);
  border-radius: 0.7rem;
  color: var(--Cream);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.price-header h1 {
  color: var(--Very-pale-orange);
  margin-top: var(--margin);
}

.price-chart-stn {
  background: var(--Very-pale-orange);
  border-radius: 0.7rem;
  box-shadow: 0 0 10px hsla(28, 10%, 53%, 0.2);
  color: var(--Medium-brown);
  padding: 1rem 1rem 1.5rem;
  text-align: center;
}

.price-chart-header {
  color: var(--Dark-brown);
  font-weight: 700;
  margin: 0.5rem 0 4rem;
}

.price-chart {
  align-items: flex-end;
  border-bottom: 1px solid var(--Medium-brown);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 1rem 0 2rem;
  padding-bottom: 1.5rem;
}

.weekdays {
  position: relative;
}

.chart-bar {
  background: var(--Soft-red);
  border-radius: 0.2rem;
  cursor: pointer;
  height: 4rem;
  width: 2.1rem;
}

.chart-bar:hover {
  background: hsla(10, 79%, 65%, 0.7);
}

.currentDay .chart-bar {
  background: var(--Cyan);
}

.amount-spent-ctn {
  background: var(--Dark-brown);
  border-radius: 0.2rem;
  color: var(--White);
  height: 0;
  left: 50%;
  padding: 0;
  position: absolute;
  top: -2.5rem;
  transform: translateX(-50%);
  visibility: hidden;
}

.view-price .amount-spent-ctn {
  height: auto;
  padding: 0.35rem 0.4rem;
  transition: var(--transition);
  visibility: visible;
}

.monthly-total {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.percentage-diff {
  text-align: right;
}

.percentage-diff h3 {
  color: var(--Dark-brown);
  font-weight: 700;
  margin-bottom: var(--margin);
}

.total-price h1 {
  color: var(--Dark-brown);
  font-size: 2rem;
  margin-top: var(--margin);
}

@media (min-width: 45rem) {
  .chart-bar {
    width: 2.5rem;
  }
}

/* footer styles */
.my-profile {
  background-color: var(--Dark-brown);
  color: var(--Very-pale-orange);
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 5rem;
}

.my-profile > a {
  cursor: pointer;
  color: hsl(51, 79%, 45%);
  text-decoration: none;
}

.my-profile-icons a {
  cursor: pointer;
  color: var(--White);
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 500px) {
  .my-profile {
    font-size: 12px;
  }

  .my-profile-icons a:first-of-type,
  .my-profile-icons a:last-of-type {
    display: none;
  }
}
